.projects {
  padding-top: 30px;
  padding-bottom: 70px;
}

.projects__container {
  width: 1280px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.projects__title {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 700;
  line-height: 50px;
  color: #45852D;
  text-align: center;
}
